@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display-flex{
    display: flex;
}
.text-grey{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

/* header styles */


/* navbar styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 80px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.img-container{
    max-width: 1440px;
    margin: 0 auto;
}
.banner-img{
    width: 100%;
}

/* main styles */
main{
    width: 1440px;
    margin: 0 auto;
    margin-top: 50px;
}

/* team and feature styles */
.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 130px;
    max-width: 530px;
}
.feature-title{
    font-size: 2.8rem;
}
#change{
    color: #FF900E;
    font-weight: 500;
}
/* responsive media query */

@media screen and (max-width: 576px) {
    .navbar,
    .nav-links,
    .teams{
        flex-direction: column;
    }
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
        margin-top: 5px;
        margin-left: 1px;
    }
    .our-features{
        margin-left: 1px;
    }
}




